node_modules
dist

# Vegh files (CodeTease's Snapshot Tool)
*.vegh
# Vegh cache folder
.veghcache/
# PyVegh's Vegh Hooks (Optional)
# .veghhooks.json
# Old Vegh files extension, kept for backward compatibility
*.snap 
# Not a branding: Get PyVegh in https://pypi.org/project/pyvegh/ (probably just `pip install pyvegh`)